<h2>Login</h2>

<%= form_with url: login_path, method: :post, local: true do |form| %>
  <div>
    <%= label_tag :email, "Usuário" %><br>
    <%= text_field_tag :email %>
  </div>

  <div>
    <%= label_tag :password, "Senha" %><br>
    <%= password_field_tag :password %>
  </div>

  <%= submit_tag "Entrar" %>
<% end %>
